<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JF Admin</title>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="js/adminApp.js"></script>
    <script src="js/adminCtrl.js"></script>
</head>

<body>

<div ng-app="adminApp" ng-controller="adminCtrl">
    <form id="login" ng-show="showLogin">
        Account: <input type="text" ng-model="account"/> <br/>
        <input type="button" ng-click="login()" value="Login">
    </form>

    <div id="accountSummary" ng-show="!showLogin">
        <h1>{{account}}</h1>
        <ul>
            <li ng-repeat="agent in agents">
                <span ng-click="expanded[agent.agentId].isVisible=!expanded[agent.agentId].isVisible">{{agent.name}}</span>
                <span ng-show="agent.lastReportTime">; last reported: {{agent.lastReportTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                <div ng-show="expanded[agent.agentId].isVisible">
                    <div ng-show="agent.isAlive">
                        <span ng-click="expanded[agent.agentId].conf = !expanded[agent.agentId].conf">Instrumented methods</span>
                        <div ng-show="expanded[agent.agentId].conf">
                            <button ng-click="getConfiguration(agent)">get configuration</button>
                            <div ng-show="agent.features['instr-conf'].command">
                                Command: <span>{{agent.features['instr-conf'].command.name}}</span><br>
                                created at: <span>{{agent.features['instr-conf'].command.createdAt | date:'HH:mm:ss'}}</span><br>
                                sent at: <span>{{agent.features['instr-conf'].command.sentAt | date:'HH:mm:ss'}}</span><br>
                                progress: <span>{{agent.features['instr-conf'].command.progressReported}}</span>
                            </div>

                            <div>
                                <textarea ng-model="agent.features['instr-conf'].state.methods"></textarea><br>
                                <button ng-click="sendConfiguration(agent)">send configuration</button>
                            </div>
                        </div>
                    </div>

                    <a target="_self" ng-href="/agents/{{agent.agentId}}/download"
                       download="jflop-agent-{{agent.name}}.jar">
                        <button>download</button>
                    </a>
                    <br>
                    <input type="button" value="delete" ng-click="deleteAgent(agent.agentId)">
                </div>
            </li>
        </ul>
        <form id="newAgent">
            Create new agent: <input type="text" ng-model="newAgentName">
            <input type="button" value="Create" ng-click="createAgent()"/>
        </form>
    </div>

</div>

</body>
</html>