<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JF Admin</title>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="js/adminApp.js"></script>
    <script src="js/adminCtrl.js"></script>
    <script src="js/FileSaver.min.js"></script>
</head>

<body>

<div ng-app="adminApp" ng-controller="adminCtrl">
    <form id="login" ng-show="showLogin">
        Account: <input type="text" ng-model="account"/> <br/>
        <input type="button" ng-click="login()" value="Login">
    </form>

    <div id="accountSummary" ng-show="!showLogin">
        <h1>{{account}}</h1>
        <ul>
            <li ng-repeat="agent in agents">
                <span ng-click="expanded[agent.agentId].isVisible=!expanded[agent.agentId].isVisible">{{agent.agentName}}</span>
                <div ng-show="expanded[agent.agentId].isVisible">
                    <ul>
                        <li ng-repeat="(jvmId, jvm) in agent.jvms">
                            <span ng-click="expanded[jvmId].isVisible=!expanded[jvmId].isVisible">{{jvmId}}</span>
                            <span> reported at: {{jvm.lastReportedAt | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                            <div ng-show="expanded[jvmId].isVisible">

                                <!-- instrumentation configuration -->
                                <div>
                                    <span ng-click="expanded[jvmId].conf = !expanded[jvmId].conf">Instrumented methods</span>
                                    <div ng-show="expanded[jvmId].conf">
                                        <button ng-click="getConfiguration(agent.agentId, jvmId)">get configuration</button>
                                        <div ng-show="jvm.features['instr-conf']">
                                            Command: <span>{{jvm.features['instr-conf'].commandName}}</span><br>
                                            created at: <span>{{jvm.features['instr-conf'].createdAt | date:'HH:mm:ss'}}</span><br>
                                            sent at: <span>{{jvm.features['instr-conf'].sentAt | date:'HH:mm:ss'}}</span><br>
                                            progress: <span>{{jvm.features['instr-conf'].progressPercent}}</span>
                                        </div>

                                        <div>
                                            <textarea ng-model="jvm.features['instr-conf'].successText" ng-change="stopRefresh()" cols="100" rows="10"></textarea><br>
                                            <button ng-click="sendConfiguration(agent.agentId, jvmId, jvm)">send configuration</button>
                                        </div>
                                    </div>

                                    <!-- snapshot -->
                                    <div>
                                        <span ng-click="expanded[jvmId].snapshot = !expanded[jvmId].snapshot">Last snapshot</span>
                                        <div ng-show="expanded[jvmId].snapshot">
                                            <input type="text" ng-model="jvm.features['snapshot'].commandParam.durationSec" ng-change="stopRefresh()"/>
                                            <button ng-click="takeSnapshot(agent.agentId, jvmId, jvm)">take snapshot</button>
                                            <div ng-show="jvm.features['snapshot']">
                                                Command: <span>{{jvm.features['snapshot'].commandName}}</span><br>
                                                created at: <span>{{jvm.features['snapshot'].createdAt | date:'HH:mm:ss'}}</span><br>
                                                sent at: <span>{{jvm.features['snapshot'].sentAt | date:'HH:mm:ss'}}</span><br>
                                                progress: <span>{{jvm.features['snapshot'].progressPercent}}</span>
                                            </div>
                                            <div>
                                                <pre> {{jvm.features['snapshot'].successText}} </pre>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- CPU monitor -->
                                    <div>
                                        <span ng-click="expanded[jvmId].cpu = !expanded[jvmId].cpu">Process CPU load</span>
                                        <div ng-show="expanded[jvmId].cpu">
                                            <label>
                                                <input type="radio" ng-model="jvm.features['cpu'].command" value="enable" ng-change="monitorCpu(agent.agentId, jvmId, jvm)">Monitor CPU
                                            </label>
                                            <label>
                                                <input type="radio" ng-model="jvm.features['cpu'].command" value="disable" ng-change="monitorCpu(agent.agentId, jvmId, jvm)">Don't monitor CPU
                                            </label>
                                            <div ng-show="jvm.features['cpu']">
                                                Command: <span>{{jvm.features['cpu'].commandName}}</span><br>
                                                created at: <span>{{jvm.features['cpu'].createdAt | date:'HH:mm:ss'}}</span><br>
                                                sent at: <span>{{jvm.features['cpu'].sentAt | date:'HH:mm:ss'}}</span><br>
                                                progress: <span>{{jvm.features['cpu'].progressPercent}}</span>
                                            </div>
                                            <div>
                                                <pre> {{jvm.features['cpu'].successText}} </pre>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <input type="button" value="download" ng-click="downloadAgent(agent)">
                    <br>
                    <input type="button" value="delete" ng-click="deleteAgent(agent.agentId)">
                </div>

            </li>
        </ul>
        <form id="newAgent">
            Create new agent: <input type="text" ng-model="newAgentName">
            <input type="button" value="Create" ng-click="createAgent()"/>
        </form>
    </div>

</div>

</body>
</html>