<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JF Admin</title>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="js/adminApp.js"></script>
    <script src="js/adminCtrl.js"></script>
    <script src="js/FileSaver.min.js"></script>
</head>

<body>

<div ng-app="adminApp" ng-controller="adminCtrl">
    <form id="login" ng-show="showLogin">
        Account: <input type="text" ng-model="account"/> <br/>
        <input type="button" ng-click="login()" value="Login">
    </form>

    <div id="accountSummary" ng-show="!showLogin">
        <h1>{{account}}</h1>
        <ul>
            <li ng-repeat="agent in agents">
                <span ng-click="expanded[agent.agentId].isVisible=!expanded[agent.agentId].isVisible">{{agent.agentName}}</span>
                <div ng-show="expanded[agent.agentId].isVisible">
                    <ul>
                        <li ng-repeat="(jvmId, jvm) in agent.jvms">
                            <span ng-click="expanded[jvmId].isVisible=!expanded[jvmId].isVisible">{{jvmId}}</span>
                            <span> reported at: {{jvm.lastReportedAt | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                            <div ng-show="expanded[jvmId].isVisible">
                                EXPANDED
                            </div>
                        </li>
                    </ul>
                    <input type="button" value="download" ng-click="downloadAgent(agent)">
                    <br>
                    <input type="button" value="delete" ng-click="deleteAgent(agent.agentId)">
                </div>

            </li>
        </ul>
        <form id="newAgent">
            Create new agent: <input type="text" ng-model="newAgentName">
            <input type="button" value="Create" ng-click="createAgent()"/>
        </form>
    </div>

</div>

</body>
</html>